# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Input, Output and Reports
input/
output/
reports/

#HL7 Schemas and logs
schema/v2.4/xsd/*
schema/v2.4/*.csv
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/
